:root {
  --white: #fdfdfd;
  --black: #020202;
  --blue: #0091ea;
  --red: #e42929fa;
  --green: #05791ee8;
  --yellow: #FFC107;
}

body, section, header, main, footer, div, span, h1, h2,h3,h4,h5,h6{
  padding: 1.5vmin;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
}

/*---- Tags ----*/
html {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--yellow);
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  max-width: 960px;
  margin: 7vh auto;
}

header,
footer {
  background-color: #0091ea;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
  color: #FFFFFF;
  display: flex;
  height: 7vh;
  min-height: 53px;
  padding: .5vh 1vw;
  align-items: center;
  justify-content: space-between;
}

header {
  position: fixed;
  width: 100vw;
}

section {
  margin: 2vw auto;
}

.brand {
  width: 60vw;
}
/*------- ID ---------*/
#calculation_section {
  display: flex;
  justify-content: space-between;
  margin: 2vh auto;
  margin-bottom: 5vh;
}

#slary_range_list{
  margin: 2vh auto;
}
#input_data {
  margin: 0;
}
#slary_range_list > div {
  padding: .15rem;
}
#results {
  width: 50%;
}
#results > div {
  display: flex;
  font-weight: bolder;
  padding: 1.5vmin 0;
}
#results > div > span:first-child {
  width: 60vw;
  padding: 1.5vmin 0;
}
#results > div > span:last-child {
  width: 30vw;
  padding: 1.5vmin 0;
}
.resultado {
  background-color: var(--yellow);
  margin: auto;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  box-shadow: 0 2px 2px rgba(154,154,155,0.75);
  border: none;
  outline: none;
  width: 100%;
  border: solid var(--yellow);
}
/*------------------*/

/*----- CLASS -------*/
.card {
  background-color: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(211,209,209,0.75);
  width: 100%;
}
.btn_default {
  text-decoration: none;
  background-color: #0091EA;
  color: #fff;
  padding: 16px;
  padding-top: 17px;
  border-radius: 4px;
  display: block;
  width: 150px;
  text-align: center;
  text-transform: uppercase;
  margin: 3vh auto 1vh;
  font-size: 16px;
  font-weight: 300;
  box-shadow: 0 2px 2px rgba(154,154,155,0.75);
  border: none;
  outline: none;
}
.btn_default:active {
  color: #0091EA;
  background-color: #ffffff;
}
.yellow_chart {
  color: var(--yellow);
  padding: 0;
}
.yellow_sun {
  text-align: center;
  background-color: #fff;
  width: 20vw;
  padding: .3vh;
  font-size: 14px;
  animation-name: flagging;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-right: 3px solid black;
  box-shadow: 0 2px 2px rgba(154,154,155,0.75);
}
@keyframes flagging {
  0%   {
    border-radius:   0 30% 0    12% ;
    width: 18vw;
    box-shadow: -4px 4px 2px rgb(22, 22, 25);
  }
  25%  {border-radius:7%  15%  25%  7%  	;}
  50%  {
    border-radius:20%   0  50%  0 ;
    width: 13vw;
    box-shadow: 4px 4px 2px rgb(22, 22, 25);
  }
  75%  {border-radius:7%  15%  25%  7%  	;}
  100% {border-radius:0 30%  0    12%   ;}
}
.input {
  margin: 1vmin;
  max-width: 30vw;
  font-weight: bolder;
  letter-spacing: 1px;
  line-height: 24px;
}
label {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
footer {
  box-shadow: 0 -1px 4px 0 rgba(0,0,0,0.37);
}
/*------------------*/


/*----- .card -------*/
.card_body {
  display: flex;
  justify-content: space-between;
}

.moneyValue_container {
  width: 50%;
  display: flex;
}
.sign_cotainer {
  margin-right: 0;
  width: 30%;
  border-radius: 4px 0 0 4px;
  text-align: center;
  box-shadow: 0 2px 2px rgba(154,154,155,0.75);
}
.peso_sign {
  color: var(--yellow);
  font-weight: bold;
  border: solid var(--blue);
  box-sizing: border-box;
}
.dollar_sign {
  color: red;
  font-weight: bold;
  border: solid #2105b1;
  border-right: solid var(--green);
  box-sizing: border-box;
}
.dollar_special{
  color: #2105b1;
  margin: 0;
  padding: 0;
}

.peso_container,
.dollar_container {
  border-radius: 0px 4px 4px 0;
  width: 70%;
  margin-left: 0;
}

.peso_container {
  background-color: var(--blue);
  border: solid var(--blue);
}
.dollar_container {
  background-color: var(--green);
  border: solid var(--green);
}
/*------------------*/

/*----- MEDIA QUERY -------*/
@media only screen and (max-width: 600px) {
    body {
      background-color: white;
    }
    main {
      background-color: #e4e8ea;
    }
    header,
    footer {
      position: fixed;
      min-width: 100vw;
      height: 8vh;
    }
    footer {
      box-shadow: 0 -1px 4px 0 rgba(0,0,0,0.37);
      margin-top: 92vh;
    }
    #results {
      width: 100%;
    }
    #calculation_section {
      display: block;
    }
}
/*-----------------------*/
