
body, section, header, main, footer, div, span {
  padding: .5rem;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*---- Tags ----*/
html {
  padding: 0;
  margin: 0;
}

body {
  background-color: darksalmon;
  padding: 0;
  display: flex;
    flex-direction: column;
}

main {
  max-width: 960px;
  margin: 7vh auto;
  /*height: 86vh;*/
}

header,
footer {
  color: white;
  background-color: black;
  padding: 1vw;
  height: 7vh;
  display: block;
}

section {
  margin: 2vw 1vw;
}
/*---- ID ----*/
#calculation_section {
  display: flex;
  justify-content: space-between;
}

.resultado {
      background-color: blueviolet;
    color: white;
    padding: 1vmin;
    text-align: right;
}
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
    header,
    footer {
      position: fixed;
      min-width: 100vw;
    }
    footer {
      margin-top: 97vh;
    }
    #calculation_section {
      display: block;
    }
}

label {
  display: flex;
  justify-content: space-between;
}
footer {
  background-color: black;
  color: white;
}
